#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.mantine-Modal-inner {
  left: 0;
  right: 0;
}

main {
  margin: 0.5rem;
}

.borderline-top {
  border-top: #7474ff 3px solid;
}

.borderline-bottom {
  border-bottom: #7474ff 3px solid;
}

.dragged {
  opacity: 0.3;
}
