export PAPERMERGE_SECRET_KEY=kajsldkjalsdj

export PAPERMERGE_DATABASE_TYPE=postres
export PAPERMERGE_DATABASE_USER=postres
export PAPERMERGE_DATABASE_NAME=papermerge
export PAPERMERGE_DATABASE_HOST=localhost
export PAPERMERGE_DATABASE_PASSWORD=postres

export PYTHONPATH=/home/eugen/GitHub/papermerge/papermerge-core

export DJANGO_SETTINGS_MODULE=config.settings
