export PAPERMERGE__MAIN__SECRET_KEY=kajsldkjalsdj

export PAPERMERGE__DATABASE__TYPE=postres
export PAPERMERGE__DATABASE__USER=postres
export PAPERMERGE__DATABASE__NAME=papermerge
export PAPERMERGE__DATABASE__HOST=localhost
export PAPERMERGE__DATABASE__PASSWORD=postres

export PYTHONPATH=/home/eugen/GitHub/papermerge/papermerge-core

export DJANGO_SETTINGS_MODULE=config.settings
