version: 1
disable_existing_loggers: false

formatters:
  verbose:
    format: '%(levelname)s %(asctime)s %(module)s %(message)s'

handlers:
  console:
    level: DEBUG
    class: logging.StreamHandler
    formatter: verbose

loggers:
  django.db.backends:
    level: DEBUG
    handlers: [console]
    propagate: no
  papermerge:
    level: DEBUG
    handlers: [console]
    propagate: no
