.sidebar {
  hr {
    margin-top: 0;
  }

  img {
    margin: auto;
  }

  .nav-item:hover {
    background-color: #2e2e2e;
  }
  a:hover {
    text-decoration: none;
  }

  a.nav-link {
    border-radius: 0;
  }
}


.sidebar.opened {
  width: 180px;
}

.sidebar.folded {
  width: 60px;
}
