## yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# env vars
.envok.yaml
.env
*.pid
.idea/
.env_services
docker/dev/config/local.py
build/
.eggs/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
*.png~
papermerge_core.egg-info/
dist
# Sphinx documentation
docs/build/
_build
_static
media/
./static/
celerybeat-schedule
.vscode
.tar
.tar.gz
.zip
media_root/
index_db/
index_db_test/
custom_logging.yml
fronttend/apps/ui/public/runtime/config.js
.ruff_cache/
.pytest_cache/

__pycache__/
*.py[cod]
*$py.class
*.so
