*.pid
.idea/
.papermerge.toml
.env
.envrc
.env_services
docker/dev/config/local.py
build/
.eggs/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
*.sqlite3
*.sublime-project
*.png~
papermerge_core.egg-info/
dist
# Sphinx documentation
docs/build/
_build
_static
media/
./static/
celerybeat-schedule
.vscode
.tar
.tar.gz
.zip
media_root/
index_db/
index_db_test/
custom_logging.yml
simplest.yml
ui/public/runtime/config.js
.ruff_cache/
.pytest_cache/
.enwardrc
