*.pid
.idea/
.papermerge.toml
.env
.envrc
.env_services
docker/dev/config/local.py
build/
.eggs/
.venv
*.pyc
__pycache__
*.swp
*.swn
*.swo
*.log
*.sqlite3
*.sublime-project
*.png~
*.kra~
papermerge_core.egg-info/
dist
# Sphinx documentation
docs/build/
_build
_static
_templates
media/
./static/
celerybeat-schedule
.vscode
xapian_index
whoosh_index
.tar
.tar.gz
.zip
media_root/
index_db/
