[tool.poetry]
name = "papermerge-core"
version = "3.0a1"
description = "Open source document management system for digital archives"
authors = ["Eugen Ciur <eugen@papermerge.com>"]
maintainers = ["Eugen Ciur <eugen@papermerge.com>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://www.papermerge.com/"
documentation = "https://docs.papermerge.io/"
classifiers = [
    "Environment :: Web Environment",
    "Framework :: Django",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3"
]
keywords = [
  "PDF",
  "OCR",
  "optical character recognition",
  "PDF/A",
  "scanning",
  "dms",
  "document-management",
  "paperless",
  "archives"
]
packages = [
    { include = "papermerge/core" },
    { include = "papermerge/conf" },
    { include = "papermerge/search" },
]
[tool.poetry.group.dev.dependencies]
towncrier = "^22.8.0"
pycodestyle = "^2.8"
django-extensions = "^3.1"
ipython = "^8.0.1"
taskipy = "^1.10.2"
"pdfminer.six" = "^20220524"
pre-commit = "^2.20.0"
watchfiles = "^0.19.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.1.2"
pytest-django = "^4.4"
model-bakery = "^1.5.0"
pytest-asyncio = "^0.21.0"


[project.urls]
Tracker = "https://github.com/ciur/papermerge/issues"
Source = "https://github.com/papermerge/papermerge-core"

[tool.poetry.dependencies]
python = ">=3.8, <4.0"
django = "^4.1"
django_filter = "^21.1"
redis = "^4.3.3"
ocrmypdf = "^14.3.0"
ocrmypdf-papermerge = "^0.5.0"
django-dynamic-preferences = "^1.13"
celery = {version = "^5.2", extras = ["gevent", "redis"]}
django-taggit = "^4.0.0"
pyyaml = "^6.0"
lxml = "^4.9.0"
django-celery-results = "^2.2"
django-modelcluster = "^6.0"
persisting-theory = "^1.0"
python-magic = "^0.4"
uritemplate = "^4.1.1"
uWSGI = "^2.0.20"
psycopg2 = "^2.9.2"
psycopg2-binary = "^2.9.2"
django-rest-knox = "^4.2.0"
pdf2image = "^1.16.0"
fastapi = "^0.100.0"
uvicorn = "^0.23.1"
python-multipart = "^0.0.6"
python-jose = "^3.3.0"
xapianpy = "^1.4.22.post2305071405"
dj-database-url = "^2.0.0"
dj-config-url = "^0.1.1"
websockets = "^11.0.3"
httpx = "^0.24.1"
configula = "^0.5.4"
salinic = "^0.3.9"


[tool.taskipy.tasks]
test = "pytest tests/ --disable-warnings"
lint = "pycodestyle papermerge/ tests/"
# run following commands from docker/dev only
worker = "celery -A config worker -c 5"
server = "DJANGO_SETTINGS_MODULE=config.settings uvicorn config.asgi:fastapp --reload --app-dir docker/dev/ --reload-dir papermerge --reload-dir tests"

[tool.towncrier]
directory = "changelog.d"
filename = "changelog.md"
start_string = "<!-- towncrier release notes start -->\n"
underlines = ["", "", ""]
template = "changelog.d/changelog_template.jinja"
title_format = "## [{version}] - {project_date}"
issue_format = "[issue#{issue}](https://github.com/ciur/papermerge/issues/{issue})"

[[tool.towncrier.type]]
directory = "security"
name = "Security"
showcontent = true

[[tool.towncrier.type]]
directory = "removed"
name = "Removed"
showcontent = true

[[tool.towncrier.type]]
directory = "deprecated"
name = "Deprecated"
showcontent = true

[[tool.towncrier.type]]
directory = "added"
name = "Added"
showcontent = true

[[tool.towncrier.type]]
directory = "changed"
name = "Changed"
showcontent = true

[[tool.towncrier.type]]
directory = "fixed"
name = "Fixed"
showcontent = true

[build-system]
requires = ["setuptools >= 61.0", "wheel"]
build-backend = "setuptools.build_meta"
