a.active {
  background-color: var(--mantine-color-pmg-9);
  color: var(--mantine-color-white);
}

a {
  padding: 0.75rem;
  color: light-dark(var(--mantine-color-pmg-9), var(--mantine-color-pmg-9));
}

.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
