.search-panel {
  .search-button {
    background-color: white;
    border-color: #dee2e6;
    border-right-color: white;
    color: gray;
  }

  .search-clear-button {
    background-color: white;
    border-color: #dee2e6;
    border-left-color: white;
    color: gray;
  }

  .search-input {
    border-left-color: white;
  }
}

.sr-node {
  margin-bottom: 1rem;
  .breadcrumb {
    font-size: 0.9rem;
  }

  &:hover {
    background-color: transparent;
    outline: None;
  }
  .node:hover {
     background-color: transparent;
     outline: None !important;
     .title {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
     }
  }

  .node {
    .title {
      font-size: 1.2rem;
    }
  }

  .node.folder {
    .icon {
      width: 3rem;
      height: 2rem;
    }
  }

  .node.document {
    .icon {
      width: 3rem;
      height: 2rem;
    }

    .image {
      width: 3rem;
      margin-right: 0.5rem;
    }
  }
}
