.search-panel {
  .search-button {
    background-color: white;
    border-color: #dee2e6;
    border-right-color: white;
    color: gray;
  }

  .search-clear-button {
    background-color: white;
    border-color: #dee2e6;
    border-left-color: white;
    color: gray;
  }

  .search-input {
    border-left-color: white;
  }
}
