.item {
  cursor: pointer;
  color: light-dark(var(--mantine-color-pmg-9), var(--mantine-color-pmg-2));
}

.folderIcon {
  margin-bottom: 0.7rem;
  background-image: url("/public/folder.svg");
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}

.title:hover {
  text-decoration: underline;
}
