@import "../Node.module.scss";

.folder {
  @extend %node;
}

.folderIcon {
  background-image: url("/public/folder.svg");
  background-size: 100% 100%;
  width: 64px;
  height: 64px;
}

.acceptFolder {
  outline: 2px dashed blue;
}
