.uploaderItem:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.uploaderItemTarget:hover {
  text-decoration: underline;
}

.uploaderItemFile:hover {
  text-decoration: underline;
}
