$node-width: 8rem;
$node-img-height: 5rem;

%node {
  padding: 0.3rem;
  position: relative;
  margin-top: 0.2rem;

  &:hover {
    background-color: #8ed2fe66;
    outline: 1px solid #6fc5ff;
  }

  .title {
    text-overflow: ellipsis;
    width: $node-width;
    overflow: hidden;
    white-space: nowrap;
  }

  a {
    color: light-dark(var(--mantine-color-pmg-9), var(--mantine-color-pmg-2));
  }
}
