window.__PAPERMERGE_RUNTIME_CONFIG__ = {
  auth_type: "oidc",
  // OIDC Logout Configuration
  // These are used to construct the proper logout URL for the OIDC provider
  oidc_logout_url: "{{ .PM_OIDC_LOGOUT_URL }}",
  oidc_client_id: "{{ .PM_OIDC_CLIENT_ID }}",
  post_logout_redirect_uri: "{{ .PM_POST_LOGOUT_REDIRECT_URI }}"
}
