.documentDetailsOpened {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  /* Width is now controlled via inline style */
  min-width: 15rem;
  max-width: 50%;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.documentDetailsClosed {
  position: relative;
  padding-left: 0rem;
  padding-right: 0rem;
}

.documentDetailsContent {
  width: 100%;
  flex-shrink: 0;
}
