.documentDetailsOpened {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 25%;
  min-width: 20rem;
  overflow-y: scroll;
  padding-bottom: 1rem;
}

.documentDetailsClosed {
  position: relative;
  padding-left: 0rem;
  padding-right: 0rem;
}

.documentDetailsContent {
  width: 100%;
}
