
:80

@ExceptPaths {
  not {
    path /oidc/callback
    path /probe/
  }
}

@ExceptBackendPaths {
  not {
    path /oidc/callback
    path /probe/
    path /api/
  }
}

forward_auth @ExceptPaths :8010 {
  uri /verify
}

reverse_proxy /oidc/callback :8010

reverse_proxy /probe/ :8000
handle_path /api/* {
    reverse_proxy :8000
}

# Will server /index.html for all paths except the ones for the backend.
# The point is that react router will take over URL.
# For example:
#     /home/e87e06ed-66ee-482f-9be5-ee85501d59c4 -> index.html
#     /document/42533b61-c856-491c-8e65-a901d9c777c4 -> index.html
#     /api/users/me -> won't be handled here, but in the backend part
handle @ExceptBackendPaths {
  try_files {path} /index.html
}
root * /usr/share/html/ui
file_server
