.thumbnailListContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 150px;
}

.thumbnailList {
  display: block;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #3d3b3b;
  color: white;
  padding: 0.5rem 1rem;
  img {
    padding: 0rem 1rem 0rem 1rem;
    width: 150px;
  }
}

.thumbnailListLoader {
  position: sticky;
  bottom: 0rem;
  left: 0rem;
}
