.breadcrumb {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    button {
      padding-right: 0;
      text-decoration: none;
    }
    button:hover {
      text-decoration: underline;
    }
  }
}
