.commander {
  background-color: white;
  padding: 0.75rem;

  .top-bar {
    display: flex;
    justify-content: space-between;

    select {
      width: 5rem;
    }
  }

  .content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nodes {
      flex-grow: 1;
    }
  }
}

.accept-dropped-nodes {
  outline: 3px dashed blue;
}


.yellow-folder {
  background-image: url("../../../public/images/folder.svg");
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}
