.commander {
  .top-bar {
    display: flex;
    justify-content: space-between;

    select {
      width: 5rem;
    }
  }
}

.yellow-folder {
  background-image: url("../../public/images/folder.svg");
  background-size: 100% 100%;
  width: 32px;
  height: 32px;
}