
.accept_dropped_nodes {
  outline: 3px dashed blue;
}

.dragged {
  opacity: 0.3;
}

.node {
  .tags {
    margin: 0;
  }
}

.node.folder.tile {
  .icon.folder {
    background-image: url("../../public/images/folder.svg");
    background-size: 100% 100%;
  }
}

.node.document.tile {
  flex-direction: column;
  padding: 0.5rem;

  .checkbox {
    position: absolute;
    left: 0.5rem;
  }

  .tags {
    right: -0.5rem;
  }

  .footer {
    align-items: center;
    .title {
      padding: 0 0.5rem;
    }
  }
}

.node.tile {
  .tags {
    position: absolute;
    top: 0;
    right: -1rem;
    display: flex;
    flex-direction: column;
  }
}

.node.list {
  .tags {
    display: flex;
  }
}

.node {
  display: flex;
  align-items: center;
  // make node title text unselectable
  user-select: none;
  position: relative;

  .icon {
    width: 7rem;
    height: 5rem;
  }

  .icon.folder {
    background-image: url("../../public/images/folder.svg");
    background-size: 92% 87%;
  }

  .icon.document {
    background-image: url("../../public/images/document.svg");
    background-size: 100% 100%;
  }

  .tags {
    align-items: flex-end;

    li {
      list-style: none;
      z-index: 100;
      padding: 0 0.3rem;
      margin: 0.1rem 0.2rem;
      font-size: 0.9rem;
      text-wrap: nowrap;
      border-radius: 0.2rem;
    }
  }

  &.checked {
    background-color:  #e6f5ff;
    outline: 1px solid #A6DAFF;
  }

  &:hover {
    background-color: #8ed2fe66;
    outline: 1px solid #6fc5ff;
       //border: 1px solid $result_list_hover_border_color;
  }
  .title {
    button {
      text-decoration: none;
    }
    button:hover {
      text-decoration: underline;
    }
    text-align: center;
    opacity: 1;
    z-index: 0;
 }
}
