.node.document {
  .tags {
    right: -0.5rem;
  }
}

.node {
  display: flex;
  align-items: center;
  // make node title text unselectable
  user-select: none;
  position: relative;

  .icon {
    width: 5rem;
    height: 4rem;
  }

  .icon.folder {
    background-image: url("/images/folder.svg");
    background-size: 100% 100%;
  }

  .icon.document {
    background-image: url("/images/document.svg");
    background-size: 100% 100%;
  }

  .tags {
    position: absolute;
    top: 0;
    right: -2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .tag {
      margin: 0.5rem;
    }
  }

  &.checked {
    background-color:  #e6f5ff;
    outline: 1px solid #A6DAFF;
  }

  &:hover {
    background-color: #8ed2fe66;
    outline: 1px solid #6fc5ff;
       //border: 1px solid $result_list_hover_border_color;
  }
  .title {
    button {
      text-decoration: none;
    }
    button:hover {
      text-decoration: underline;
    }
    text-align: center;
    opacity: 1;
    z-index: 0;
 }
}


.view-mode-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .node {

    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;

    margin: 0.75rem;
    padding: 0.5rem;

    .icon {
      width: 100%;
      height: 100%;
    }

    input[type=checkbox] {
      align-self: start;
      visibility: hidden;
    }

    &:hover {
      input[type=checkbox] {
        visibility: visible;
      }
    }

    &.checked {
      input[type=checkbox] {
        visibility: visible;
      }
    }
  }
}

.view-mode-list, .search-results {
  display: flex;
  flex-direction: column;

  .node {
    padding: 0.25rem;
  }

  .tags {
    position: relative;
    display: flex;
    flex-direction: row;

    .tag {
      margin: 0.2rem;
    }
  }
}
