.viewer {
  .content {
    height: 90vh;
    overflow: scroll;
    background-color: #666;
    .page {
      margin-bottom: 0;

      .page-number {
        color: white;
        font-weight: bold;
      }
    }
  }
}
