{% load admin_tags %}

<ul class="page_thumbnails">
    {% for page in pages %}
        <li class="page_thumbnail {% if forloop.first %} first {% endif %} {% if forloop.last %} last {% endif %}">
          {% thumb_arrow_up %}
          <div class="document page" 
               data-page_num="{{page.number}}"
               data-img_type="thumbnail"
               data-page_id="{{page.id}}"
               data-doc_id="{{document.pk}}"
               data-page_order="{{page.number}}"
               data-ocr-status="{% if page.text %}success{% else %}unknown{% endif %}"
               data-step="4">
               <input type="checkbox" name="_selected_action" value="{{ page.number }}" />
            </div>
          {% thumb_arrow_down %}
          <div data-page_num="{{page.number}}" class="page_number">
            <div class="led">
              {% if page.text %}
                <svg class="led led-success" width="16" height="16" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z">
                  </path>
                </svg>
              {% else %}
                <svg class="led led-unknown" width="16" height="16" viewBox="0 0 16 16">
                  <circle cx="10" cy="10" r="5" />
                </svg>
              {% endif %}
            </div>
            <div class="number">{{ page.number }}</div>
          </div>
        </li>
    {% endfor %}
</ul> 