{% extends "admin/base.html" %}

{% load i18n static admin_tags %}

{% block title %} Papermerge | {% trans "Documents" %} {% endblock %}

{% comment %}
  beautiful refresh feature BEGIN
{% endcomment %}
{% block animated_opacity_content_wrapper %}
  animated-opacity
{% endblock %}

{% block animated_opacity_main_header %}
  animated-opacity
{% endblock %}

{% block main_col %}col-sm-12 col-md-12 col-lg-12 main-col {% endblock %}

{% block animated_opacity_main_sidebar %}
  animated-opacity
{% endblock %}
{% comment %}
  beautiful refresh feature END
{% endcomment %}

{% block modals %}
    {% include 'admin/_forms.js.html' %}
{% endblock modals %}

{% block document_browser %}
  document-browser
{% endblock document_browser %}

{% block content %}
    <div class="container-fluid pl-0 d-flex flex-row">
        <div class="col-6 card card-browser mr-1" id="panel_left">
        </div>
        <div class="col-6 card card-browser" id="panel_right">
        </div>  <!-- row -->
        <div id="pagination-view">
        </div>
    </div><!-- /.container-fluid -->
{% endblock %}
