name: Build Docker Prod Image

on:
  workflow_dispatch:
    inputs:
      TAG:
        required: true
        description: Docker tag e.g. 3.0a1, 3.0a2
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}  # checkout current branch
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build ${{ inputs.VERSION }}
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: papermerge/papermerge:${{ inputs.TAG }}
          file: docker/prod/Dockerfile
          platforms: linux/amd64
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: papermerge/papermerge
          readme-filepath: ./docker/prod/README.md
          short-description: >
            Papermerge is an open source document management system (DMS)
             for digital archives
