name: Frontend Tests

on:
  push:
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend-tests.yml'
  pull_request:
    paths:
      - 'frontend/**'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/

    steps:
      - uses: actions/checkout@v6

      - name: Set Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install latest Yarn
        run: corepack enable

      - name: Activate latest Yarn
        run: yarn set version 4.9.2

      - name: Install Node.js dependencies
        run: yarn install --immutable

      - name: Run tests
        run: yarn workspace ui test:run
