name: Publish to ghcr.io

on:
  workflow_dispatch:
    inputs:
      VERSION:
        required: true
        type: string
  workflow_call:
    secrets:
      MY_GITHUB_TOKEN:
        required: true
    inputs:
      VERSION:
        required: true

permissions:
  contents: read

jobs:
  publish-to-ghcr:
    name: Publish to ghcr.io
    runs-on: ubuntu-latest
    env:
      papermerge_image: ghcr.io/papermerge/papermerge
      swagger_ui_image: ghcr.io/papermerge/swagger-ui
      redoc_image: ghcr.io/papermerge/redoc
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.MY_GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.papermerge_image }}:${{ inputs.VERSION }}, ${{ env.papermerge_image }}:latest
          file: docker/prod/Dockerfile

      - name: Build and push swagger-ui
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.swagger_ui_image }}:${{ inputs.VERSION }}, ${{ env.swagger_ui_image }}:latest
          file: docker/Dockerfile.swagger

      - name: Build and push redoc
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ env.redoc_image }}:${{ inputs.VERSION }}, ${{ env.redoc_image }}:latest
          file: docker/Dockerfile.redoc
