name: Tests

on:
  workflow_dispatch:

  push:
    paths:
      - 'papermerge/**'
      - 'ui2/**'
      - 'pyproject.toml'
      - '.github/workflows/tests.yml'
      - 'docker/standard/**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:16.1
        env:
          POSTGRES_PASSWORD: pmgpass
          POSTGRES_USER: pmguser
          POSTGRES_DB: test_pmgdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.13
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install required debian packages
        run: sudo apt-get update && sudo apt-get install -y poppler-utils  # required by pdf2image
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==2.1.3
          poetry install --with test -E pg && poetry run pytest papermerge/
        env:
          PAPERMERGE__DATABASE__URL: 'postgresql://pmguser:pmgpass@localhost:5432/test_pmgdb'
          PAPERMERGE__MAIN__API_PREFIX: ''
