name: Tests

on:
  workflow_dispatch:

  push:
    paths:
      - 'papermerge/**'
      - 'tests/**'
      - 'ui/**'
      - 'pyproject.toml'
      - '.github/workflows/tests.yml'

jobs:
  features_dir_with_sqlite:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8
          poetry install --with dev,test && poetry run pytest papermerge/core/features/
        env:
          PAPERMERGE__DATABASE__URL: 'sqlite:///test.sqlite'

  features_dir_with_postgres:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:16.1
        env:
          POSTGRES_PASSWORD: pmgpass
          POSTGRES_USER: pmguser
          POSTGRES_DB: test_pmgdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8
          poetry install --with dev,test -E pgsql && poetry run pytest papermerge/core/features/
        env:
          PAPERMERGE__DATABASE__URL: 'postgresql://pmguser:pmgpass@localhost:5432/test_pmgdb'

  tests_dir_with_sqlite:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install redis
        run: sudo apt-get install -y redis-tools redis-server
      - name: Install tesseract debian packages
        run: |
          sudo apt-get install tesseract-ocr tesseract-ocr-deu imagemagick
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8
          poetry install --with dev,test && poetry run pytest tests/core/
        env:
          PYTHONPATH: .
          PAPERMERGE__MAIN__API_PREFIX: ''
          DJANGO_SETTINGS_MODULE: 'tests.settings'
          PAPERMERGE__DATABASE__URL: 'sqlite:///test.sqlite'

  tests_dir_with_postgres:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:16.1
        env:
          POSTGRES_PASSWORD: pmgpass
          POSTGRES_USER: pmguser
          POSTGRES_DB: test_pmgdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install redis
        run: sudo apt-get install -y redis-tools redis-server
      - name: Install tesseract debian packages
        run: |
          sudo apt-get install tesseract-ocr tesseract-ocr-deu imagemagick
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.8
          poetry install --with dev,test -E pgsql && poetry run pytest tests/core/
        env:
          PYTHONPATH: .
          PAPERMERGE__MAIN__API_PREFIX: ''
          DJANGO_SETTINGS_MODULE: 'tests.settings'
          PAPERMERGE__DATABASE__URL: 'postgresql://pmguser:pmgpass@localhost:5432/test_pmgdb'
