name: Tests

on:
  workflow_dispatch:

  push:
    # Won't trigger this GH action when pushing tags
    branches:
      - '**'
    paths:
      - 'papermerge/**'
      - 'ui2/**'
      - 'pyproject.toml'
      - '.github/workflows/tests.yml'
      - 'docker/standard/**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: pm
          POSTGRES_USER: pm
          POSTGRES_DB: pmdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python 3.14
        run: uv python install 3.14
      - name: Install required debian packages
        run: sudo apt-get update && sudo apt-get install -y poppler-utils
      - name: Install dependencies and run tests
        run: |
          uv sync --group dev
          uv run alembic upgrade head
          uv run pytest
        env:
          PM_DB_URL: 'postgresql://pm:pm@localhost:5432/pmdb'
          PM_API_PREFIX: ''
